{% extends "login_app/base.html"%}
{% load static %}
{% block title %}Login/Registration{% endblock %}

{% block content %}


<div class="container mt-4">
    <div class="alert" role="alert">
        <a class="navbar-brand" href='wall'>
        <h1 class="alert-heading display-3 text-success">Wall Welcome</h1></a>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">        
        <div class="col">
            <form action="/register" method="POST">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header text-black bg-information">
                        <h2 class="card-title">Register</h2>
                    </div>
                    <div class="card-body">
                        <div class="mb-3 row">
                            <label for="first_name" class="col-sm-3 col-form-label fw-bold">First Name:</label>
                            <div class="col-sm 9">
                                <input class="form-control" type="text" name="first_name" id="first_name" maxlength=100 required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="last_name" class="col-sm-3 col-form-label fw-bold">Last Name:</label>
                            <div class="col-sm 9">
                                <input class="form-control" type="text" name="last_name" id="last_name" maxlength=100 required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="email" class="col-sm-3 col-form-label fw-bold">Email:</label>
                            <div class="col-sm 9">
                                <input class="form-control" type="text" name="email" id="email" maxlength=100 required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="password" class="col-sm-3 col-form-label fw-bold">Password:</label>
                            <div class="col-sm 9">
                                <input class="form-control" type="password" name="password" id="password" maxlength=20 required>
                                <p>Password debe tener entre 8 y 20 caracteres</p>
                                <p>Debe tener letras y números</p>
                                <p>Al menos una mayúscula y una minúscula</p>
                            </div>   
                        </div>
                        <div class="mb-3 row">
                            <label for="password_confirm" class="col-sm-3 col-form-label fw-bold">Confirm Pass:</label>
                            <div class="col-sm 9">
                                <input class="form-control" type="password" name="password_confirm" id="password_confirm" required>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center bg-transparent border-0">
                        <div class="d-grid gap-2 d-md-block">
                            <input class="btn btn-success" type="submit" value="Register">
                            <input class="btn btn-outline-success" type="reset" value="Reset">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col">
            <form action="/login" method="POST">
                {% csrf_token %}
                <div class="card ">
                    <div class="card-header text-black bg-information">
                        <h2 class="card-title">Login</h2>
                    </div>
                    <div class="card-body">
                        <div class="mb-3 row">
                            <label for="email" class="col-sm-3 col-form-label fw-bold">Email:</label>
                            <div class="col-sm 9">
                                <input class="form-control" type="text" name="email_login" id="email_login" maxlength=100 required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="password" class="col-sm-3 col-form-label fw-bold">Password:</label>
                            <div class="col-sm 9">
                                <input class="form-control" type="password" name="password_login" id="password_login" required>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center bg-transparent border-0">
                        <div class="d-grid gap-2 d-md-block">
                            <input class="btn btn-success" type="submit" value="Login">
                            <input class="btn btn-outline-success" type="reset" value="Reset">
                        </div>
                    </div>
                </div>
            </form>
            {% if messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <ul>
                            {% for message in messages %}  
                                <li><strong>{{ message }}</strong></li>
                            {% endfor %}
                        </ul>
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                {% else %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <ul>
                            {% for message in messages %}  
                            <li><strong>{{ message }}</strong></li>
                            {% endfor %}
                        </ul>
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>   
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}